We received a request to reset the password associated with this e-mail address. If you made this request,
<br /><br />
Here is your temporary password: <span style="font-weight: bold;font-size: 14px;">{{password}}</span>
<br/>
We request you to change your password after login from this temporary password.

<br /><br />
{% include 'footer.html.twig' %}
