{% include 'FormBuilderFBBundle:General:head.html.twig' %}
<div style="color:white;" id="maindiv">
    <h2>The page you requested is not availbale...Please try again </h2>
</div>

{% include 'FormBuilderFBBundle:General:footer.html.twig' %}
