{% include 'FormBuilderFBBundle:General:head.html.twig' %}

    <div id="maindiv">
	<div id="login_form">
	    {{return_html|raw}}
	</div>	
    </div>
    
{% include 'FormBuilderFBBundle:General:footer.html.twig' %}