{% include 'FormBuilderFBBundle:General:head.html.twig' %}
    
    <div id="maindiv">
	<div class="well form-horizontal" id="change_password_form">
	    <fieldset>
	    <h1 class="headline blue">CHANGE PASSWORD</h1>
	    <div id="login_error_msg" class="alert alert-error" style="display: none; text-align: center;">
	    </div>
	    <div id="fp_div">
	    <div class="control-group">
		<label class="control-label">New Password</label>
		<div class="controls">
		    <input type="password" class="input-xlarge" placeholder="Password" name="password">
		</div>
	    </div>
	    <div class="control-group">
		<label class="control-label">Confirm Password</label>
		<div class="controls">
		    <input type="password" class="input-xlarge" placeholder="Confirm Password" name="confirm_password">
		</div>
	    </div>
	    </div>
	    <div id="fp_success_div" class="alert alert-success" style="display: none;">
	    </div>
	    <div class="form-actions" style="margin-top: 0px; margin-bottom: 0px;"> 
		<div style="padding-top: 10px;"> 
		    <button type="submit" class="btn btn-primary" href="javascript:void(0);" onclick="window.change_password('{{user_info.id}}');">Change Password</button>
		    <a href="/dashboard" style="padding-left: 10px;font-size: 8px;">BACK TO DASHBOARD</a>
		</div>
	    </div>
	    </fieldset>
	</div>	
    </div>

{% include 'FormBuilderFBBundle:General:footer.html.twig' %}
