{% include 'FormBuilderFBBundle:Login:head.html.twig' %}
    
    <div id="maindiv">
	<div class="well form-horizontal" id="login_form">
	    <fieldset>
	    <h1 class="headline blue">Forgot Your Password?</h1>
	    <div id="login_error_msg" class="alert alert-error" style="display: none; text-align: center;">
	    </div>
	    <div id="fp_div">
	    <div id="control-group">
		<h6 style="padding: 25px 65px;">Don’t worry!
                Just fill in your email and we’ll help you reset your password.</h6>
	    </div>
	    <div class="control-group">
		<label class="control-label">Email</label>
		<div class="controls">
		    <input type="text" class="input-xlarge" placeholder="Email" name="email" href="javascript:void(0);" onclick="window.detect_key(event, 3);">
		</div>
	    </div>
	    </div>
	    <div id="fp_success_div" class="alert alert-success" style="display: none;">
	    </div>
	    <div class="form-actions" style="margin-top: 0px; margin-bottom: 0px;"> 
		<div style="padding-top: 10px;"> 
		    <button type="submit" class="btn btn-primary" href="javascript:void(0);" onclick="window.send_password_email();">Send Email</button>
		    <a href="/login" style="padding-left: 10px;font-size: 8px;">BACK TO LOGIN</a>
		</div>
	    </div>
	    </fieldset>
	</div>	
    </div>

{% include 'FormBuilderFBBundle:General:footer.html.twig' %}
