{% include 'FormBuilderFBBundle:General:head.html.twig' %}
    
    <div id="maindiv">
	<div class="well form-horizontal" id="login_form">
	    <fieldset>
	    <h1 class="headline blue">Logged In</h1>
	    </fieldset>
	    <button type="submit" class="btn btn-primary" href="javascript:void(0);" onclick="window.create_form();">Login</button>
	</div>	
    </div>

{% include 'FormBuilderFBBundle:General:footer.html.twig' %}
